.login-card {
  text-align: center;
}

h2 {
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #000;
}

mat-form-field {
  overflow: hidden;
  width: 100%;
}


.register-btn {
  width: 100%;
  border-radius: 25px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 1px;;
}


.divider {
  margin: 2rem 0 1rem;
  color: #fff;
}

