<h2 mat-dialog-title>Add Game</h2>
<mat-dialog-content class="dialog-content">
  <div class="toolbar">
		<mat-form-field >
      <mat-label>Order By</mat-label>
      <mat-select value="publishDateHL" (selectionChange)="onOrderByChange($event.value)">
        @for (opt of orderByOptions; track opt) {
          <mat-option [value]="opt.value">{{opt.label}}</mat-option>
        }
  </mat-select>
</mat-form-field>
<mat-form-field style="padding: 0px 10px;">
      <mat-label>Filter By Categories</mat-label>
      <mat-select value="all" (selectionChange)="onFilterByChange($event.value)">
        @for (opt of filterByCategoryOptions; track opt) {
          <mat-option [value]="opt.value">{{opt.label}}</mat-option>
        }
  </mat-select>
</mat-form-field>
<mat-form-field style="padding: 0px 10px;">
  <mat-label>Search</mat-label>
  <input matInput  placeholder="Search" [formControl]="searchControl"/>
</mat-form-field>
</div>
<div class="cards">
  <mat-card *ngFor="let g of games" class="game-card clickable" (click)="selectGame(g)">
    <img mat-card-image *ngIf="g.imageUrl" [src]="g.imageUrl" alt="{{g.title}}" />
    <mat-card-header>
      <mat-card-title>{{ g.title }}</mat-card-title>
      <mat-card-subtitle>Genre: {{ GameGenre[g.genre] }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Release: {{ g.releaseDate | date:'dd.MM.yyyy'}}</p>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="laodMoreVisible()" class="load-more-container">
  <button mat-raised-button color="primary" (click)="LoadMoreGames()">Load More</button>
</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
</mat-dialog-actions>
